#*******************************************************************************
#.gitignore
#*******************************************************************************

#Purpose:
#The git program is informed here to ignore the following files while performing
#its distributed revision control and source code management. 
#Author:
#Cedric H. David, 2017-2018


#*******************************************************************************
#List of files that git will ignore
#*******************************************************************************

#-------------------------------------------------------------------------------
#The input and output files stored in the sub-directories of input/ and output/
#-------------------------------------------------------------------------------
input/
output/

#-------------------------------------------------------------------------------
#The files potentially added to the tst/ directory, except for some key files
#-------------------------------------------------------------------------------
tst/*
!tst/tst_pub*
!tst/tst_cmp*


#*******************************************************************************
#End
#*******************************************************************************
